@media screen and  (min-width: 768px) and (max-width:992px){
    .concept{
        &__step{
            font-size: 20px;
        }
    }
    
    .like-btn{
        align-self: baseline;
        font-size: 30px;
    }

    .menu{
        background-color: unset;
        &__head{
            width:50%;
            background:$color-tertiary;
            padding: 30px 10px 4px 15px;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            
        }
    }
}
